<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CigRecords{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!--<link rel="stylesheet" href="/css/admin/style.css">-->
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">CigRecords</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#a-propos">Qui sommes nous ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nouveautes">Nouveautés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nos-artistes">Artistes</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#boutique">Boutique</a>
            </li>-->
        </ul>
    </div>
</nav>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#">Mentions légales</a>
                <a href="#">CGU</a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
